﻿@model tzVideoteka.Models.FilmModel

@{
    ViewBag.Title = "Просмотр";
}

<h2>Просмотр</h2>

<table class="table">  
    <tr>
        <th>@Html.LabelFor(model => model.UserAutor)</th>
         <td>           
                @Html.DisplayFor(model => model.UserAutor)            
        </td>
    </tr>  
    <tr>
        <th>@Html.LabelFor(model => model.DirectedBy)</th>
         <td>           
                @Html.DisplayFor(model => model.DirectedBy)            
        </td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Name)</th>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Name)                
            </div>
        </td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Descr)</th>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Descr)                
            </div>
        </td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.ReleaseDate)</th>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.ReleaseDate)                
            </div>    
        </td>
    </tr>    
</table>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("К списку", "Index")
</p>
