﻿@model tzVideoteka.Models.FilmModel

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование</h2>

@using (Html.BeginForm()) {    
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UserAutor)
<p>
    @Html.ValidationSummary(true)
</p>
<table class="table">    
    <tr>
        <th>@Html.LabelFor(model => model.DirectedBy)</th>
         <td> 
            <div class="editor-field">
                @Html.EditorFor(model => model.DirectedBy)
                @Html.ValidationMessageFor(model => model.DirectedBy)
            </div>
        </td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Name)</th>
        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Descr)</th>
        <td>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Descr)
                @Html.ValidationMessageFor(model => model.Descr)
            </div>
        </td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.ReleaseDate)</th>
        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.ReleaseDate, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </div>    
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>
                <input type="submit" value="Сохранить" />
            </p>
        </td>
    </tr>   
</table>
}

<div>
    @Html.ActionLink("К списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}