﻿@model PagedList.IPagedList<tzVideoteka.Models.FilmModel>
@using PagedList.Mvc;
<table class="table">
<tr>
    <th>@Ajax.ActionLink("Наименование", "GetFilms", new { SortOrder = ViewBag.NameOrder, Filter =  ViewBag.Filter }, new AjaxOptions() { UpdateTargetId = "filmlist" })</th>
    <th>Режисёр</th>
    <th>@Ajax.ActionLink("Дата выпуска", "GetFilms",  new { SortOrder = ViewBag.DateOrder, Filter =  ViewBag.Filter }, new AjaxOptions() { UpdateTargetId = "filmlist" })</th>
    <th>@Ajax.ActionLink("Автор", "GetFilms", new { SortOrder = ViewBag.AuthorOrder, Filter = ViewBag.Filter }, new AjaxOptions() { UpdateTargetId = "filmlist" })</th>
    <th>Примечание</th>    
    <td>
        <p>
            @Html.ActionLink("Новая запись", "Create")
        </p>
    </td>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td> 
        <td>@Html.DisplayFor(modelItem => item.DirectedBy)</td> 
        <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
        <td>@Html.DisplayFor(modelItem => item.UserAutor)</td>        
        <td>@Html.DisplayFor(modelItem => item.Descr)</td>        
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { ID = item.ID }) |
            @Html.ActionLink("Просмотр", "Details", new { ID = item.ID })            
        </td>
    </tr>
}
</table>
<hr />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("GetFilms", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "filmlist" }))