﻿@{
    ViewBag.Title = "Фильмотека";
}

<h2>Список фильмов</h2>

@using (Ajax.BeginForm("AllFilter", new AjaxOptions() { UpdateTargetId = "filmlist", Url = Url.Action("GetFilms") }))
{    
    <table class="table" style=" width:500px">
        <tr>
            <td>@Html.TextBox("filter", "", new { @class = "form-control", style = "width:250px", placeholder="Фильтр" })</td>
            <td align="left"><input type="submit" value="Фильтровать" /></td>
        </tr>
    </table>    
    <div id="filmlist">
        @Html.Action("GetFilms")
    </div>
}