﻿@if (Request.IsAuthenticated) {
    <li style=" color:#fff; margin-top:15px;">        
        <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Профиль", style = "color:#fff;" })!
        </text>       
    </li>
    <li> 
        <text>
             @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default" style=" margin-top:10px; margin-left:20px">Log off</a>
            }
        </text>
    </li>   
    
} else {
    
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color:#fff;" })
    
}
