﻿@model tzVideoteka.Models.LoginModel

@{
    ViewBag.Title = "Авторизация";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Авторизация</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)<br />
                @Html.TextBoxFor(m => m.UserName)<br />
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)<br />
                @Html.PasswordFor(m => m.Password)<br />
                @Html.ValidationMessageFor(m => m.Password)
            </li>           
        </ol>
        <input type="submit" value="Войти" />
    </fieldset>   
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Можете зайти под пользователями :</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
